In [1]:
%load_ext sql

In [2]:
%sql postgresql://<id>:<passward>@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

In [34]:
%%sql

SELECT *
FROM analytics.popularity_genre_analysis
LIMIT 10;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('00emjlCv9azBN0fzuuyLqy', 'Dumb Litty', 'KARD', 65, 'pop', 'dance pop', 0.76, 0.887, 0.24, 130.018),
 ('00i0O74dXdaKKdCrqHnfXm', 'La Mordidita', 'Ricky Martin', 69, 'latin', 'latin pop', 0.725, 0.903, 0.946, 142.006),
 ('00i0O74dXdaKKdCrqHnfXm', 'La Mordidita', 'Ricky Martin', 69, 'latin', 'latin hip hop', 0.725, 0.903, 0.946, 142.006),
 ('023VFpARmjJz3mo66Oingw', 'Ya No Me Duele Más - Remix', 'Silvestre Dangond', 48, 'latin', 'latin pop', 0.746, 0.889, 0.829, 98.038),
 ('02PiwfcW4LuKxhDi3JfH01', "Don't Look Down (feat. Blake Young)", 'CASS', 42, 'edm', 'progressive electro house', 0.748, 0.713, 0.87, 149.927),
 ('04XOESV0aVnKMlUU1NhIG1', 'Nevermore - Remastered 2011', 'Queen', 35, 'rock', 'album rock', 0.366, 0.398, 0.181, 117.705),
 ('07bCARhk2dH7hpMHd1DUJe', 'Damage', 'Outr3ach', 42, 'rap', 'trap', 0.601, 0.557, 0.235, 74.986),
 ('08mG3Y1vljYA6bvDt4Wqkj', 'Back In Black', 'AC/DC', 83, 'pop', 'post-teen pop', 0.31, 0.7, 0.763, 188.386),
 ('08mG3Y1vljYA6bvDt4Wqkj', 'Back In Black', 'AC/DC', 83, 'rock', 'album rock', 0.31, 0.7, 0.763, 188.386),
 ('08mG3Y1vljYA6bvDt4Wqkj', 'Back In Black', 'AC/DC', 83, 'rock', 'classic rock', 0.31, 0.7, 0.763, 188.386)]

# Redshift SQL

In [3]:
%%sql

-- 스키마 삭제 
DROP SCHEMA raw_data CASCADE;
DROP SCHEMA analytics CASCADE;
DROP SCHEMA adhoc CASCADE;
DROP SCHEMA pii CASCADE;
DROP SCHEMA external_schema CASCADE;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.
(psycopg2.errors.InvalidSchemaName) Schema "pii" does not exist

[SQL: DROP SCHEMA pii CASCADE;]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [4]:
%%sql

CREATE SCHEMA raw_data;
CREATE SCHEMA analytics;
CREATE SCHEMA adhoc;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.
Done.

[]

**스키마 목록 확인하기**

In [3]:
%%sql

SELECT DISTINCT schema_name
FROM information_schema.schemata
ORDER BY schema_name;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
3 rows affected.

[('adhoc',), ('analytics',), ('raw_data',)]

**특정 스키마에 있는 테이블 목록 보기**

In [4]:
%%sql

SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'raw_data';

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
2 rows affected.

[('spotify_youtube',), ('spotify_songs',)]

**특정 테이블 삭제하기**

In [29]:
%%sql

DROP TABLE [스키마 이름].[테이블 이름];

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [9]:
%%sql

CREATE TABLE raw_data.spotify_songs (
    track_id VARCHAR(255) primary key,
    track_name VARCHAR(255),
    track_artist VARCHAR(255),
    track_popularity INT,
    track_album_id VARCHAR(255),
    track_album_name VARCHAR(255),
    playlist_name VARCHAR(255),
    playlist_id VARCHAR(255),
    playlist_genre VARCHAR(10),
    playlist_subgenre VARCHAR(30),
    danceability FLOAT,
    energy FLOAT,
    key INT,
    loudness FLOAT,
    mode INT,
    speechiness FLOAT,
    acousticness FLOAT,
    instrumentalness FLOAT,
    liveness FLOAT,
    valence FLOAT,
    tempo FLOAT,
    duration_ms INT,
    track_album_release_year INT,
    track_album_release_month INT,
    track_album_release_day INT
);

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [11]:
%%sql

-- ⭐
COPY raw_data.spotify_songs
FROM 's3://hunsoo-dev-proj-02/data/spotify_songs_copy.csv'
credentials 'aws_iam_role=arn:aws:iam::816283732897:role/redshift.read.s3'
CSV
IGNOREHEADER 1
QUOTE AS '"';

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

**만약에 벌크 업데이터시 에러 발생할 때 확인하는 방법**

In [15]:
%%sql 

SELECT * FROM sys_load_error_detail ORDER BY start_time DESC;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
11 rows affected.

[(100, 2846112, 125341, 1073791082, 'dev', 262456, datetime.datetime(2023, 12, 6, 11, 7, 51, 785949), 's3://hunsoo-dev-proj-02/data/spotify_songs_copy.csv                                                                                                                                                                                                             ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '256       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2645379, 115498, 1073897582, 'dev', 254334, datetime.datetime(2023, 12, 6, 9, 25, 59, 513346), 's3://hunsoo-dev-proj-02/data/spotify_songs_copy.csv                                                                                                                                                                                                             ', 71, 'danceability                                                                                                                   ', 'float8    ', '0         ', 195, 1207, "Invalid digit, Value 'd', Pos 0, Type: Double                                                                                                         ... (214 characters truncated) ...                                                                                                                                                      "),
 (100, 2644985, 114273, 1073946919, 'dev', 254315, datetime.datetime(2023, 12, 6, 9, 14, 24, 791649), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 11541, 'track_artist                                                                                                                   ', 'varchar   ', '255       ', 25, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644838, 113845, 1073856799, 'dev', 254308, datetime.datetime(2023, 12, 6, 9, 10, 59, 614827), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 8559, 'track_name                                                                                                                     ', 'varchar   ', '256       ', 0, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644555, 112914, 1073938541, 'dev', 254301, datetime.datetime(2023, 12, 6, 9, 1, 45, 669337), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '256       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644491, 112727, 1073938541, 'dev', 254294, datetime.datetime(2023, 12, 6, 8, 59, 54, 93576), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '255       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644447, 112621, 1073938541, 'dev', 254287, datetime.datetime(2023, 12, 6, 8, 58, 57, 681621), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '255       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644303, 112137, 1073938541, 'dev', 254280, datetime.datetime(2023, 12, 6, 8, 53, 57, 14056), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 71, 'danceability                                                                                                                   ', 'float8    ', '0         ', 179, 1207, "Invalid digit, Value 'd', Pos 0, Type: Double                                                                                                         ... (214 characters truncated) ...                                                                                                                                                      "),
 (100, 2644238, 111933, 1073938541, 'dev', 254277, datetime.datetime(2023, 12, 6, 8, 51, 53, 17670), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '255       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644068, 111325, 1073938541, 'dev', 254274, datetime.datetime(2023, 12, 6, 8, 45, 16, 25760), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 71, 'danceability                                                                                                                   ', 'float8    ', '0         ', 179, 1207, "Invalid digit, Value 'd', Pos 0, Type: Double                                                                                                         ... (214 characters truncated) ...                                                                                                                                                      "),
 (100, 2643878, 110684, 1073938541, 'dev', 254271, datetime.datetime(2023, 12, 6, 8, 39, 52, 944340), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '255       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      ')]

**데이터가 잘 들어갔는지 확인하기**

In [12]:
%%sql

SELECT *
FROM raw_data.spotify_songs
LIMIT 10;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[('1zzOMDmkRZy0g9f4JTAZKn', 'Close To Me (with Diplo) (feat. Swae Lee) - CID Remix', 'Ellie Goulding', 8, '5bMicFMWsZlRZNTDq9h3oA', 'Close To Me (Remixes)', 'Pop Remix', '37i9dQZF1DXcZDD7cfEKhW', 'pop', 'dance pop', 0.663, 0.905, 1, -3.781, 0, 0.0511, 0.0325, 0.0, 0.333, 0.397, 125.996, 175000, 2019, 2, 1),
 ('1JxQmgCEipmHCUiJS568pE', 'What Do I Do? - Benny Benassi Remix', 'Georgia Ku', 39, '1D0ELNaChtO3Dv3eI5Ces1', 'What Do I Do? (Benny Benassi Remix)', 'Dance Room', '37i9dQZF1DX2ENAPP1Tyed', 'pop', 'dance pop', 0.66, 0.827, 10, -5.081, 1, 0.0789, 0.429, 0.0, 0.0923, 0.611, 115.349, 167249, 2019, 10, 18),
 ('2WDhYlm5gBepkMZHBk0LN7', 'AH YEAH', 'WINNER', 60, '52epM8aF5xCLAtDwbGPeP2', 'WE', 'K-Party Dance Mix', '37i9dQZF1DX4RDXswvP6Mj', 'pop', 'dance pop', 0.797, 0.722, 7, -5.051, 1, 0.0388, 0.356, 0.0, 0.177, 0.878, 128.01, 176906, 2019, 5, 15),
 ('11Fo4dAH31K7UZHGqCkCmE', 'I Love You', 'Axwell /\\ Ingrosso', 7, '7dD0CWyYodWcV0fjglqDgG', 'I Love You', 'Dance Pop', '0B2HdP15IucgE0vk3sluJR', 'pop', 'dance pop', 0.654, 0.859, 0, -4.321, 1, 0.166, 0.336, 0.0, 0.0947, 0.704, 114.87, 191000, 2017, 2, 10),
 ('0bMbDctzMmTyK2j74j3nF3', 'Alone, Pt. II', 'Alan Walker', 85, '700MviIgFKNTldTXmOAFOr', 'Alone, Pt. II', 'Dance Pop Tunes', '4SdfG4cPG3skmTiQLozZGh', 'pop', 'dance pop', 0.67, 0.668, 3, -4.306, 0, 0.0422, 0.536, 0.0, 0.133, 0.608, 88.033, 179053, 2019, 12, 27),
 ('1bSO9nzT5h55OrJO7BbHL2', 'One Life - VIP Mix', 'DJ MEG', 38, '1USoW8vmr37W5sd5g0579c', 'One Life (VIP Mix)', 'Pop Dance Hits', '7eERKCkgNKCCx5GYdeMIZf', 'pop', 'dance pop', 0.644, 0.936, 9, -2.925, 1, 0.099, 0.00514, 0.00236, 0.143, 0.255, 118.007, 201500, 2019, 11, 29),
 ('6golelYKuy85o3u0cxIxFK', 'The Wire', 'HAIM', 60, '729Vh0HApsm7hGDVjbmtrf', 'Days Are Gone', 'Ultimate Indie Presents... Best Indie Tracks of the 2010s', '37i9dQZF1DWTHM4kX49UKs', 'pop', 'dance pop', 0.547, 0.635, 2, -5.569, 1, 0.137, 0.0127, 5.01e-06, 0.0585, 0.525, 113.678, 245293, 2013, 9, 30),
 ('5p1ex0pXv6jSPJ6QbumQpD', 'Piece Of Your Heart', 'MEDUZA', 30, '0agqVZjOqVtqHkq3pTFPXb', 'Piece Of Your Heart', 'Pop - Pop UK - 2019 - Canadian Pop - 2019 - Pop', '46Cl6dmeiylK6TRGXr7hHe', 'pop', 'post-teen pop', 0.677, 0.744, 10, -6.806, 0, 0.0295, 0.0404, 0.00016, 0.074, 0.631, 124.08, 152913, 2019, 2, 1),
 ('3KnjerEPMolLapVo2wdgz6', 'Rumors', 'Lindsay Lohan', 50, '3ZxcXB6JtLDAEUDLVkiIRe', 'Speak', 'The Sound of Post-Teen Pop', '10FCW9lj0NdeoYI5VVvVtY', 'pop', 'post-teen pop', 0.883, 0.784, 10, -5.646, 0, 0.0533, 0.0171, 0.0143, 0.333, 0.888, 115.006, 196307, 2004, 1, 1),
 ('59mrqUmhpmcfUns8BKkV30', 'Alive', 'Krewella', 55, '1Y7A8ZaZ9QyeeOa3uWQJqc', 'Get Wet', 'Post pop teen', '222nc9tKxKhfZ2GBrOpwH3', 'pop', 'post-teen pop', 0.671, 0.828, 9, -2.907, 1, 0.053, 0.00304, 0.00287, 0.352, 0.57, 127.976, 288880, 2013, 9, 20)]

**다음은 특정 테이블의 모든 컬럼과 그 데이터 타입을 확인하는 쿼리의 예시입니다:**

In [14]:
%%sql

-- 데이터 타입 확인
SELECT 
    column_name, 
    data_type
FROM 
    information_schema.columns
WHERE 
    table_schema = 'raw_data'  -- 스키마 이름을 넣으세요
    AND table_name = 'spotify_songs';  -- 테이블 이름을 넣으세요

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
25 rows affected.

[('tempo', 'double precision'),
 ('valence', 'double precision'),
 ('liveness', 'double precision'),
 ('instrumentalness', 'double precision'),
 ('acousticness', 'double precision'),
 ('speechiness', 'double precision'),
 ('loudness', 'double precision'),
 ('energy', 'double precision'),
 ('danceability', 'double precision'),
 ('track_id', 'character varying'),
 ('playlist_subgenre', 'character varying'),
 ('playlist_genre', 'character varying'),
 ('playlist_id', 'character varying'),
 ('playlist_name', 'character varying'),
 ('track_album_name', 'character varying'),
 ('track_album_id', 'character varying'),
 ('track_artist', 'character varying'),
 ('track_name', 'character varying'),
 ('track_album_release_day', 'integer'),
 ('track_album_release_month', 'integer'),
 ('track_album_release_year', 'integer'),
 ('duration_ms', 'integer'),
 ('mode', 'integer'),
 ('key', 'integer'),
 ('track_popularity', 'integer')]

In [37]:
%%sql

-- 기존에 테이블이 존재한다면 삭제
DROP TABLE IF EXISTS raw_data.spotify_youtube;
CREATE TABLE raw_data.spotify_youtube(
    id INT primary key,
    artist VARCHAR(100),
    url_spotify VARCHAR(255),
    track VARCHAR(255),
    album VARCHAR(255),
    album_type VARCHAR(50),
    uri VARCHAR(255),
    danceability FLOAT,
    energy FLOAT,
    key FLOAT,
    loudness FLOAT,
    speechiness FLOAT,
    acousticness FLOAT,
    instrumentalness FLOAT,
    liveness FLOAT,
    valence FLOAT,
    tempo FLOAT,
    duration_ms FLOAT,
    url_youtube VARCHAR(255),
    title VARCHAR(255),
    channel VARCHAR(255),
    views FLOAT,
    likes FLOAT,
    comments FLOAT,
    description VARCHAR(8192),
    licensed boolean,
    official_video boolean,
    stream FLOAT   
);

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [38]:
%%sql

-- ⭐
COPY raw_data.spotify_youtube
FROM 's3://hunsoo-dev-proj-02/data/Spotify_Youtube_copy.csv'
credentials 'aws_iam_role=arn:aws:iam::816283732897:role/redshift.read.s3'
CSV
IGNOREHEADER 1
QUOTE AS '"';

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [36]:
%%sql 

-- 에러 확인
SELECT * FROM sys_load_error_detail ORDER BY start_time DESC;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
17 rows affected.

[(100, 3253189, 156083, 1073995877, 'dev', 278876, datetime.datetime(2023, 12, 10, 11, 43, 56, 457109), 's3://hunsoo-dev-proj-02/data/Spotify_Youtube_copy.csv                                                                                                                                                                                                           ', 34, 'description                                                                                                                    ', 'varchar   ', '5000      ', 357, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 3252881, 154982, 1073995877, 'dev', 278869, datetime.datetime(2023, 12, 10, 11, 32, 54, 53965), 's3://hunsoo-dev-proj-02/data/Spotify_Youtube_copy.csv                                                                                                                                                                                                           ', 6, 'description                                                                                                                    ', 'varchar   ', '1024      ', 333, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 3252854, 154936, 1073995877, 'dev', 278862, datetime.datetime(2023, 12, 10, 11, 32, 23, 849604), 's3://hunsoo-dev-proj-02/data/Spotify_Youtube_copy.csv                                                                                                                                                                                                           ', 4, 'description                                                                                                                    ', 'varchar   ', '512       ', 428, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 3252820, 154846, 1073995877, 'dev', 278855, datetime.datetime(2023, 12, 10, 11, 31, 33, 236797), 's3://hunsoo-dev-proj-02/data/Spotify_Youtube_copy.csv                                                                                                                                                                                                           ', 4, 'description                                                                                                                    ', 'varchar   ', '500       ', 428, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 3252757, 154659, 1073995877, 'dev', 278848, datetime.datetime(2023, 12, 10, 11, 29, 42, 765469), 's3://hunsoo-dev-proj-02/data/Spotify_Youtube_copy.csv                                                                                                                                                                                                           ', 2, 'description                                                                                                                    ', 'varchar   ', '256       ', 338, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 3252548, 153928, 1073995877, 'dev', 278841, datetime.datetime(2023, 12, 10, 11, 21, 51, 140504), 's3://hunsoo-dev-proj-02/data/Spotify_Youtube_copy.csv                                                                                                                                                                                                           ', 2, 'description                                                                                                                    ', 'varchar   ', '255       ', 338, 1204, 'String length exceeds DDL length                                                                                                                      ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2846112, 125341, 1073791082, 'dev', 262456, datetime.datetime(2023, 12, 6, 11, 7, 51, 785949), 's3://hunsoo-dev-proj-02/data/spotify_songs_copy.csv                                                                                                                                                                                                             ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '256       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2645379, 115498, 1073897582, 'dev', 254334, datetime.datetime(2023, 12, 6, 9, 25, 59, 513346), 's3://hunsoo-dev-proj-02/data/spotify_songs_copy.csv                                                                                                                                                                                                             ', 71, 'danceability                                                                                                                   ', 'float8    ', '0         ', 195, 1207, "Invalid digit, Value 'd', Pos 0, Type: Double                                                                                                         ... (214 characters truncated) ...                                                                                                                                                      "),
 (100, 2644985, 114273, 1073946919, 'dev', 254315, datetime.datetime(2023, 12, 6, 9, 14, 24, 791649), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 11541, 'track_artist                                                                                                                   ', 'varchar   ', '255       ', 25, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644838, 113845, 1073856799, 'dev', 254308, datetime.datetime(2023, 12, 6, 9, 10, 59, 614827), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 8559, 'track_name                                                                                                                     ', 'varchar   ', '256       ', 0, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644555, 112914, 1073938541, 'dev', 254301, datetime.datetime(2023, 12, 6, 9, 1, 45, 669337), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '256       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644491, 112727, 1073938541, 'dev', 254294, datetime.datetime(2023, 12, 6, 8, 59, 54, 93576), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '255       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644447, 112621, 1073938541, 'dev', 254287, datetime.datetime(2023, 12, 6, 8, 58, 57, 681621), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '255       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644303, 112137, 1073938541, 'dev', 254280, datetime.datetime(2023, 12, 6, 8, 53, 57, 14056), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 71, 'danceability                                                                                                                   ', 'float8    ', '0         ', 179, 1207, "Invalid digit, Value 'd', Pos 0, Type: Double                                                                                                         ... (214 characters truncated) ...                                                                                                                                                      "),
 (100, 2644238, 111933, 1073938541, 'dev', 254277, datetime.datetime(2023, 12, 6, 8, 51, 53, 17670), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '255       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      '),
 (100, 2644068, 111325, 1073938541, 'dev', 254274, datetime.datetime(2023, 12, 6, 8, 45, 16, 25760), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 71, 'danceability                                                                                                                   ', 'float8    ', '0         ', 179, 1207, "Invalid digit, Value 'd', Pos 0, Type: Double                                                                                                         ... (214 characters truncated) ...                                                                                                                                                      "),
 (100, 2643878, 110684, 1073938541, 'dev', 254271, datetime.datetime(2023, 12, 6, 8, 39, 52, 944340), 's3://hunsoo-dev-proj-02/data/spotify_songs.csv                                                                                                                                                                                                                  ', 816, 'track_album_name                                                                                                               ', 'varchar   ', '255       ', 62, 1214, 'Delimited value missing end quote                                                                                                                     ... (214 characters truncated) ...                                                                                                                                                      ')]

In [40]:
%%sql

SELECT *
FROM raw_data.spotify_youtube
LIMIT 3;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
3 rows affected.

[(453, 'Pritam', 'https://open.spotify.com/artist/1wRPtKGflJrBx9BmLsSwlU', 'Tera Hone Laga Hoon', 'Ajab Prem Ki Ghazab Kahani (Original Motion Picture Soundtrack)', 'album', 'spotify:track:0dLbrlAVPPjpPqnYfmJsWk', 0.684, 0.771, 8.0, -5.353, 0.0307, 0.548, 0.0, 0.112, 0.539, 119.982, 299827.0, 'https://www.youtube.com/watch?v=rTuxUAuJRyY', 'Tera Hone Laga Hoon Lyrical - Ajab Prem Ki Ghazab Kahani | Atif Aslam | Ranbir, Katrina K | Pritam', 'Tips Official', 349523411.0, 2224745.0, 56143.0, 'Sing along with Ranbir Kapoor and Katrina Kaif to the love anthem "Tera Hone Laga Hoon" from the movie "Ajab Prem Ki Ghazab Kahani" sung by Atif Asla ... (2838 characters truncated) ... utube.com/volume\nhttp://youtube.com/bhaktiprem\nhttps://www.facebook.com/TipsMusic\nhttps://www.instagram.com/tips\nhttps://twitter.com/tipsofficial', True, True, 79477830.0),
 (586, 'Bon Jovi', 'https://open.spotify.com/artist/58lV9VcRSjABbAbfWS6skp', "Livin' On A Prayer", 'Slippery When Wet', 'album', 'spotify:track:37ZJ0p5Jm13JPevGcx4SkF', 0.532, 0.887, 0.0, -3.757, 0.0335, 0.0778, 0.000214, 0.294, 0.795, 122.511, 249293.0, 'https://www.youtube.com/watch?v=lDK9QqIzhwk', "Bon Jovi - Livin' On A Prayer", 'BonJoviVEVO', 1001651093.0, 4560379.0, 140853.0, "New album ‘2020’ out now\nhttps://BonJovi.lnk.to/2020-TheAlbum\n\nFollow Bon Jovi:\nFacebook: https://www.facebook.com/BonJovi\nInstagram: https://ww ... (86 characters truncated) ... onjovi.com/\n\n\nMusic video by Bon Jovi performing Livin' On A Prayer. (C) 1986 The Island Def Jam Music Group\n#BonJovi #LivinOnAPrayer #Remastered", True, True, 1136987099.0),
 (595, 'Bon Jovi', 'https://open.spotify.com/artist/58lV9VcRSjABbAbfWS6skp', 'Thank You For Loving Me', 'Crush', 'album', 'spotify:track:577MNC3o3L0lNIzx9abqOk', 0.385, 0.342, 2.0, -7.749, 0.0285, 0.416, 0.0, 0.119, 0.131, 132.864, 308933.0, 'https://www.youtube.com/watch?v=nddTokI9hHY', 'Bon Jovi - Thank You For Loving Me (Official Music Video)', 'BonJoviVEVO', 2863878.0, 35911.0, 2422.0, 'REMASTERED IN HD!\nOfficial Music Video for "Thank You For Loving Me" performed by Bon Jovi, from the album \'Crush.\' \n\nFollow Bon Jovi: \nFaceboo ... (37 characters truncated) ... agram: https://instagram.com/bonjovi\nTwitter: https://twitter.com/bonjovi\nWebsite: https://bonjovi.com\n\n#BonJovi #ThankYouForLovingMe #Remastered', True, True, 78748335.0)]

## analytics에 들어갈 테이블 생성하기

In [18]:
%%sql

-- 테이블 안에 있는 레코드가 제대로 생성되었는지 확인
SELECT *
FROM analytics.top5_artist_by_genre
LIMIT 20;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
20 rows affected.

[('latin', 'Don Omar', 3206),
 ('latin', 'Daddy Yankee', 1985),
 ('latin', 'Wisin & Yandel', 1819),
 ('latin', 'Ozuna', 1808),
 ('latin', 'Gloria Estefan', 1641),
 ('rock', 'Queen', 5434),
 ('rock', 'The Cranberries', 1995),
 ('rock', "Guns N' Roses", 1538),
 ('rock', 'Muse', 1538),
 ('rock', 'Fleetwood Mac', 1242),
 ('edm', 'Martin Garrix', 2254),
 ('edm', 'Hardwell', 2128),
 ('edm', 'Dimitri Vegas & Like Mike', 2061),
 ('edm', 'David Guetta', 1502),
 ('edm', 'Steve Aoki', 1216),
 ('pop', 'David Guetta', 2243),
 ('pop', 'Ariana Grande', 1817),
 ('pop', 'Kygo', 1769),
 ('pop', 'Katy Perry', 1721),
 ('pop', 'The Chainsmokers', 1714)]

In [22]:
%%sql

-- 테이블이 제대로 생성되었는지 확인
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'analytics';

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
5 rows affected.

[('top_artist_by_subgenre',),
 ('top5_artist_by_genre',),
 ('subgenre_popularity',),
 ('genre_popularity',),
 ('yearly_release_by_gener',)]

In [7]:
%%sql

-- 장르별 인기도의 합
DROP TABLE IF EXISTS analytics.genre_popularity;
CREATE TABLE analytics.genre_popularity AS
SELECT
    playlist_genre,
    track_artist,
    SUM(track_popularity) AS total_popularity
FROM 
    raw_data.spotify_songs
GROUP BY
    1, 2;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

https://gent.tistory.com/442  
오라클 PARTITION BY 사용법 참고 (분석함수)

In [16]:
%%sql

-- 장브별 인기도 TOP5 아티스트(대시보드 테이블)
DROP TABLE IF EXISTS analytics.top5_artist_by_genre;
CREATE TABLE analytics.top5_artist_by_genre AS
SELECT 
    playlist_genre,
    track_artist,
    total_popularity
FROM (
    SELECT *, ROW_NUMBER() OVER (PARTITION BY playlist_genre ORDER BY total_popularity DESC) as row_number
    FROM analytics.genre_popularity
) subquery
WHERE
    row_number <= 5;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [9]:
%%sql

-- 서브장르별 인기도의 합
DROP TABLE IF EXISTS analytics.subgenre_popularity;
CREATE TABLE analytics.subgenre_popularity AS
SELECT
    playlist_subgenre,
    track_artist,
    SUM(track_popularity) AS total_popularity
FROM 
    raw_data.spotify_songs
GROUP BY
    1, 2;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [21]:
%%sql

-- 서브장르별 인기도 TOP1 아티스트 (대시보드 테이블)
DROP TABLE IF EXISTS analytics.top_artist_by_subgenre;
CREATE TABLE analytics.top_artist_by_subgenre AS
SELECT
    playlist_subgenre,
    track_artist,
    total_popularity
FROM (
    SELECT playlist_subgenre, track_artist, total_popularity, RANK() OVER (PARTITION BY playlist_subgenre ORDER BY total_popularity DESC) as rank
    FROM analytics.subgenre_popularity
) subquery
WHERE
    rank = 1;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [23]:
%%sql

-- 연도/장르별로 발매된 음악 개수(대시보드 테이블)

DROP TABLE IF EXISTS analytics.yearly_release_by_gener;
CREATE TABLE analytics.yearly_release_by_gener AS
SELECT
    playlist_genre,
    TO_DATE(CAST(track_album_release_year AS VARCHAR), 'YYYY') AS release_year,
    COUNT(*) AS song_count
FROM 
    raw_data.spotify_songs
GROUP BY
    1, 2
ORDER BY
    1, 2;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

---

In [10]:
%%sql

-- 테이블이 제대로 생성되었는지 확인
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'analytics';

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
7 rows affected.

[('songs_join_youtube',),
 ('songs_join_youtube_stream',),
 ('yearly_release_by_gener',),
 ('top_artist_by_subgenre',),
 ('top5_artist_by_genre',),
 ('subgenre_popularity',),
 ('genre_popularity',)]

In [6]:
%%sql

DROP TABLE IF EXISTS analytics.songs_join_youtube_Stream;
CREATE TABLE analytics.songs_join_youtube_Stream AS
SELECT
    A.track_id, A.track_name, A.track_artist, A.track_album_id, B.album_type, B.Stream
FROM 
    raw_data.spotify_songs A JOIN raw_data.spotify_youtube B
    ON A.track_name = B.track AND A.track_artist = B.artist AND A.track_album_name = b.album;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]

In [9]:
%%sql

DROP TABLE IF EXISTS analytics.songs_join_youtube;
CREATE TABLE analytics.songs_join_youtube AS
SELECT
    A.track_id, A.track_name, A.track_artist, A.track_album_id, B.title, B.views, B.likes
FROM
    raw_data.spotify_songs A JOIN raw_data.spotify_youtube B 
    ON A.track_name = B.track AND A.track_artist = B.artist AND A.track_album_name = B.album;

 * postgresql://admin:***@default-workgroup.816283732897.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.
Done.

[]